@media (max-width: 1800px) {
    .sec-lvl-1 .main-turbo .abs-turbo{
        width: 325px;
    }
    .sec-lvl-1 .main-turbo .abs-turbo{
        padding-top: 85px;
    }
    .sec-lvl-1 .main-turbo h3{
        line-height: 132px;
    }
}


@media (max-width: 1600px) {
    .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-1 {
        top: -5px;
    }
    .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-2{
        top: 284px;
        left: -257px;
    }
    .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-3 {
    top: 249px;
    right: -270px;
}
    
}

@media (max-width: 1500px) {
    .sec-lvl-1 .main-turbo .abs-turbo{
        right: 166px;
        top: 203px;
    }
    .sec-lvl-2 .for-flex-sec-2{
        padding-top: 70px;
    }
}
@media (max-width: 1350px) {
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    































































































@media (max-width: 991px) {
  #form_section .form {
    margin-left: 0;
    margin-right: 50px;
  }

  footer span {
    text-align: right;
  }
  footer p {
    margin-top: 30px;
  }
  footer .footer_tel_block {
    text-align: right;
  }
  footer .footer_tel {
    margin-top: 35px;
  }

  .modal .modal-dialog {
    position: relative;
    top: 0;
    left: 0;
    transform: none!important;
    margin: 20px auto;
    width: 290px!important;
  }
  .modal.in .modal-dialog {
    transform: none!important;
  }
  #agreement-modal .for-scroll {
    padding: 15px;
  }
  #agreement-modal .for-scroll h6 {
    margin-bottom: 21px;
    font-size: 13px;
  }
  #agreement-modal .for-scroll p {
    text-align: justify;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  #form_section .girl {
    display: none;
  }

  #form_section .form .form_padding {
    margin: 0;
  }

  #form_section .form {
    width: 100%;
    margin-right: 0;
    padding-top: 30px;

    button {
      width: 100%;
    }
  }

  footer span {
    text-align: center;
    margin-top: 30px;
  }
  footer p {
    margin-top: 25px;
    text-align: center;
  }
  footer .footer_tel {
    margin-top: 25px;
  }
  footer .gvd_block {
    text-align: center;
  }
  footer .footer_tel_block {
    text-align: center;
  }
}