@media (max-width: 1800px) {
  .sec-lvl-1 .main-turbo .abs-turbo {
    width: 325px; }

  .sec-lvl-1 .main-turbo .abs-turbo {
    padding-top: 85px; }

  .sec-lvl-1 .main-turbo h3 {
    line-height: 132px; } }
@media (max-width: 1600px) {
  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-1 {
    top: -5px; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-2 {
    top: 284px;
    left: -257px; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-3 {
    top: 249px;
    right: -270px; } }
@media (max-width: 1500px) {
  .sec-lvl-1 .main-turbo .abs-turbo {
    right: 166px;
    top: 203px; }

  .sec-lvl-2 .for-flex-sec-2 {
    padding-top: 70px; }

  .sec-lvl-1 .side-cont h1 {
    font-size: 32px; } }
@media (max-width: 1350px) {
  .m-w {
    padding: 0 50px; }

  .sec-lvl-1 .main-turbo .desc70 {
    font-size: 42px;
    line-height: 39px; }

  .sec-lvl-1 .for-flex .my-side.right-side:before {
    left: -404px; } }
@media (max-width: 1199px) {
  .sec-lvl-1 .main-turbo .abs-turbo {
    width: 208px;
    padding-top: 156px; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-1 {
    top: 48px; }

  .sec-lvl-1 .side-cont h1 {
    font-size: 26px; }

  .sec-lvl-1 .main-turbo h3 {
    font-size: 106px; }

  .sec-lvl-1 .main-turbo .desc70 {
    font-size: 30px;
    line-height: 26px; }

  .sec-lvl-1 .for-flex .my-side.right-side:before {
    left: -341px; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: auto; }

  .sec-lvl-1 .main-turbo .abs-turbo {
    padding-top: 0;
    width: auto;
    position: relative;
    right: 0;
    top: 0; }
    .sec-lvl-1 .main-turbo .abs-turbo img {
      max-width: 200px;
      margin: 0 auto; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs .num {
    font-size: 46px;
    width: 76px;
    height: 76px; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-1 .num:before {
    display: none; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-2 .num:before {
    display: none; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-3 .num:before {
    display: none; }

  .sec-lvl-1 .main-turbo .abs-turbo .for-flex-tour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .sec-lvl-1 .main-turbo .abs-turbo .for-flex-tour .my-abs {
      width: 50%;
      padding: 0 10px; }

  .sec-lvl-1 .main-turbo .for-flex-tour .my-abs p {
    font-size: 15px; }

  .sec-lvl-2 .for-flex-sec-2 .side p {
    font-size: 12px; } }
@media (max-width: 991px) {
  .m-w {
    padding: 0 15px; }

  .sec-lvl-1 .for-flex .my-side.right-side .f {
    color: #000; }

  .sec-lvl-1 .for-flex .my-side.right-side a {
    color: #000;
    background: none; }

  .sec-lvl-1 .for-flex .my-side.right-side:before {
    display: none; }

  .sec-lvl-1 .main-turbo h3 {
    color: #1e1f24; }

  .sec-lvl-1 .main-turbo .desc70 {
    color: #1e1f24; }

  .sec-lvl-1 .for-flex .my-side.right-side .f {
    font-size: 13px; }

  .sec-lvl-1 .for-flex .my-side.right-side a {
    padding-left: 0;
    font-size: 16px; }

  .m-f {
    display: block; }

  .sec-lvl-1 .side-cont {
    width: 100%; }

  .sec-lvl-1 .side-cont h1 {
    text-align: center; }

  .sec-lvl-1 .side-cont ul {
    margin: 0 auto 30px auto; }

  .side-cont .my-butt {
    margin: 0 auto; }

  .sec-lvl-1 .main-turbo {
    width: 100%; }

  .sec-lvl-2 .for-flex-sec-2 {
    flex-wrap: wrap;
    justify-content: center; }

  .sec-lvl-2 .for-flex-sec-2 .side {
    width: 314px;
    margin-bottom: 30px;
    padding-right: 15px; }

  .sec-lvl-3 h2 {
    font-size: 58px; }

  .sec-lvl-3 .mid-sec-3 .flex-text .tt1:before {
    display: none; }

  .sec-lvl-3 .mid-sec-3 .flex-text .tt1 h6 {
    font-size: 17px; }

  .sec-lvl-3 .mid-sec-3 .flex-text .tt1 {
    padding: 10px 15px; }

  .sec-lvl-3 .mid-sec-3 .flex-text .tt1 p {
    font-size: 14px;
    margin-bottom: 20px; }

  .sec-lvl-3 .mid-sec-3 .circle-2 {
    width: 450px;
    height: 450px;
    padding: 100px;
    top: 50%;
    transform: translate(-50%, -50%); } }
@media (max-width: 767px) {
  .sec-lvl-1 .for-flex {
    display: block; }

  .sec-lvl-1 .for-flex .my-side {
    width: 100%; }

  .sec-lvl-1 .for-flex .my-side img {
    margin: 0 auto 20px auto; }

  .sec-lvl-1 .for-flex .my-side.right-side {
    flex-direction: column;
    align-items: flex-end; }

  .sec-lvl-1 .for-flex .my-side.right-side .f {
    padding-right: 0;
    margin-bottom: 5px; }

  .sec-lvl-1 .for-flex .my-side.right-side a {
    font-size: 22px;
    line-height: 22px; }

  .sec-lvl-1 .side-cont h1 {
    font-size: 22px;
    max-width: 290px;
    margin: 0 auto 30px auto; }

  .sec-lvl-1 .side-cont .some-shit {
    font-size: 14px; }

  .sec-lvl-1 .main-turbo .abs-turbo .for-flex-tour {
    padding-top: 20px;
    display: block; }

  .sec-lvl-1 .main-turbo .abs-turbo .for-flex-tour .my-abs {
    width: 100%;
    margin-bottom: 30px; }

  .sec-lvl-2 .for-flex-sec-2 .side p span {
    font-size: 33px; }

  .sec-lvl-3 h2 {
    padding: 40px 0 40px 0;
    font-size: 26px; }

  .sec-lvl-3 .mid-sec-3 .flex-text {
    display: block; } }
@media (max-width: 991px) {
  #form_section .form {
    margin-left: 0;
    margin-right: 50px; }

  footer span {
    text-align: right; }

  footer p {
    margin-top: 30px; }

  footer .footer_tel_block {
    text-align: right; }

  footer .footer_tel {
    margin-top: 35px; }

  .modal .modal-dialog {
    position: relative;
    top: 0;
    left: 0;
    transform: none !important;
    margin: 20px auto;
    width: 290px !important; }

  .modal.in .modal-dialog {
    transform: none !important; }

  #agreement-modal .for-scroll {
    padding: 15px; }

  #agreement-modal .for-scroll h6 {
    margin-bottom: 21px;
    font-size: 13px; }

  #agreement-modal .for-scroll p {
    text-align: justify;
    font-size: 12px; }

  footer .gvd {
    display: block; } }
@media (max-width: 767px) {
  #form_section .girl {
    display: none; }

  #form_section .form .form_padding {
    margin: 0; }

  #form_section .form {
    width: 100%;
    margin-right: 0;
    padding-top: 30px; }
    #form_section .form button {
      width: 100%; }

  footer span {
    text-align: center;
    margin-top: 30px; }

  footer p {
    margin-top: 25px;
    text-align: center; }

  footer .footer_tel {
    margin-top: 25px; }

  footer .gvd_block {
    text-align: center; }

  footer .footer_tel_block {
    text-align: center; }

  footer .gvd {
    display: inline-block; } }

/*# sourceMappingURL=media.css.map */
