@charset "UTF-8";
@font-face {
  font-family: PfsquaresansproReg;
  src: url(../fonts/pfsquaresanspro-regular.ttf); }
@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/RalewayRegular.eot);
  src: local("☺"), url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RalewayBlack;
  src: url(../fonts/RalewayBlack.eot);
  src: local("☺"), url("../fonts/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RalewayBold;
  src: url(../fonts/RalewayBold.eot);
  src: local("☺"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserratbold';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v10-latin-900.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v10-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v10-latin-900.woff2") format("woff2"), url("../fonts/montserrat-v10-latin-900.woff") format("woff"), url("../fonts/montserrat-v10-latin-900.ttf") format("truetype"), url("../fonts/montserrat-v10-latin-900.svg#Montserrat") format("svg"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v10-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v10-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v10-latin-regular.woff") format("woff"), url("../fonts/montserrat-v10-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v10-latin-regular.svg#Montserrat") format("svg"); }
body {
  background: #faf9fe; }

.my-butt {
  display: block;
  color: #fff;
  width: 300px;
  position: relative;
  font-size: 18px;
  font-family: RalewayRegular;
  padding: 12px 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #79cc02, #2fa92a);
  cursor: pointer;
  border: none;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: -8px 10px 42px 0px rgba(0, 0, 0, 0.4); }

section {
  max-width: 1920px;
  margin: 0 auto; }

.m-w {
  padding: 0 100px; }

.m-f {
  display: flex;
  position: relative;
  z-index: 10; }

.sec-lvl-1 {
  overflow: hidden; }
  .sec-lvl-1 .for-flex {
    display: flex;
    position: relative; }
    .sec-lvl-1 .for-flex .circle {
      position: absolute;
      width: 1400px;
      height: 1400px;
      border-radius: 50%;
      background: #f4f2f2;
      top: 0;
      left: 0;
      display: flex;
      transform: translate(-50%, -50%);
      padding: 200px; }
      .sec-lvl-1 .for-flex .circle:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #ebebeb; }
    .sec-lvl-1 .for-flex .my-side {
      width: 50%;
      position: relative; }
      .sec-lvl-1 .for-flex .my-side img {
        position: relative;
        z-index: 10; }
      .sec-lvl-1 .for-flex .my-side.left-side {
        z-index: 10; }
      .sec-lvl-1 .for-flex .my-side.right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .sec-lvl-1 .for-flex .my-side.right-side:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -525px;
          width: 1520px;
          height: 1028px;
          background-image: url(../img/hard-bg.png);
          background-repeat: no-repeat; }
        .sec-lvl-1 .for-flex .my-side.right-side .f {
          font-size: 14px;
          font-family: PfsquaresansproReg;
          color: #fff;
          padding-right: 22px;
          position: relative;
          z-index: 10;
          margin: 0; }
        .sec-lvl-1 .for-flex .my-side.right-side a {
          color: #fff;
          font-family: 'Montserrat';
          font-size: 18px;
          display: block;
          padding-left: 20px;
          background-image: url(../img/tel-1.png);
          background-repeat: no-repeat;
          background-position: top 4px left;
          position: relative;
          z-index: 10; }
  .sec-lvl-1 .side-cont {
    padding-top: 55px;
    width: 50%; }
    .sec-lvl-1 .side-cont h1 {
      font-size: 36px;
      font-family: RalewayBold;
      margin-bottom: 40px; }
      .sec-lvl-1 .side-cont h1 span {
        font-family: 'Montserratbold';
        font-weight: 900; }
    .sec-lvl-1 .side-cont ul {
      margin: 0;
      list-style: none;
      max-width: 367px;
      margin-bottom: 30px; }
      .sec-lvl-1 .side-cont ul li {
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding: 5px 0 5px 72px;
        font-size: 16px;
        background-repeat: no-repeat;
        background-position: center left;
        font-weight: bold; }
        .sec-lvl-1 .side-cont ul li:last-child {
          margin-bottom: 0; }
          .sec-lvl-1 .side-cont ul li:last-child:before {
            display: none; }
        .sec-lvl-1 .side-cont ul li:before {
          content: "";
          display: block;
          position: absolute;
          top: calc(100% + 5px);
          left: 25px;
          height: 12px;
          width: 1px;
          background: #2fa92a; }
        .sec-lvl-1 .side-cont ul li.f1 {
          background-image: url(../img/i1.png); }
        .sec-lvl-1 .side-cont ul li.f2 {
          background-image: url(../img/i2.png); }
        .sec-lvl-1 .side-cont ul li.f3 {
          background-image: url(../img/i3.png); }
        .sec-lvl-1 .side-cont ul li.f4 {
          background-image: url(../img/i4.png); }
        .sec-lvl-1 .side-cont ul li.f5 {
          background-image: url(../img/i5.png); }
    .sec-lvl-1 .side-cont .some-shit {
      font-size: 18px;
      font-family: RalewayRegular;
      padding-top: 30px; }
      .sec-lvl-1 .side-cont .some-shit a {
        color: #000;
        font-family: 'Montserrat';
        text-decoration: none;
        border: none; }
        .sec-lvl-1 .side-cont .some-shit a:hover {
          color: #000; }
  .sec-lvl-1 .main-turbo {
    position: relative;
    width: 50%; }
    .sec-lvl-1 .main-turbo h3 {
      text-align: right;
      color: #fff;
      font-size: 180px;
      font-family: 'Montserratbold'; }
    .sec-lvl-1 .main-turbo .desc70 {
      color: #fff;
      text-align: right;
      font-size: 65px;
      font-family: RalewayBold;
      line-height: 65px; }
    .sec-lvl-1 .main-turbo .abs-turbo {
      position: absolute;
      right: 294px;
      top: 176px;
      width: 525px; }
    .sec-lvl-1 .main-turbo .for-flex-tour .my-abs {
      width: 400px;
      position: absolute; }
      .sec-lvl-1 .main-turbo .for-flex-tour .my-abs .num {
        font-size: 70px;
        color: #bc7c0b;
        font-family: 'Montserratbold';
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: #fff;
        border: 3px solid #f4f2f2;
        margin: 0 auto 20px auto;
        display: block;
        text-align: center;
        position: relative; }
      .sec-lvl-1 .main-turbo .for-flex-tour .my-abs p {
        text-align: center;
        font-size: 18px;
        font-family: RalewayBold; }
      .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-1 {
        top: -81px;
        left: -268px; }
        .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-1 .num:before {
          content: "";
          position: absolute;
          top: 38px;
          left: 149px;
          display: block;
          width: 53px;
          height: 50px;
          background-image: url(../img/arr-1-left.png); }
      .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-2 {
        top: 284px;
        left: -319px; }
        .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-2 .num:before {
          content: "";
          position: absolute;
          top: 79px;
          left: 114px;
          display: block;
          width: 61px;
          height: 31px;
          background-image: url(../img/arr-2-left.png); }
      .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-3 {
        top: 327px;
        right: -200px; }
        .sec-lvl-1 .main-turbo .for-flex-tour .my-abs.abs-3 .num:before {
          content: "";
          position: absolute;
          top: 72px;
          left: -96px;
          display: block;
          width: 65px;
          height: 31px;
          background-image: url(../img/arr-3-left.png); }

.sec-lvl-2 .for-flex-sec-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 40px; }
  .sec-lvl-2 .for-flex-sec-2 .side {
    width: 330px;
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: center left; }
    .sec-lvl-2 .for-flex-sec-2 .side.side-1 {
      background-image: url(../img/icon-1.png); }
    .sec-lvl-2 .for-flex-sec-2 .side.side-2 {
      background-image: url(../img/icon-2.png); }
    .sec-lvl-2 .for-flex-sec-2 .side.side-3 {
      background-image: url(../img/icon-1.png); }
    .sec-lvl-2 .for-flex-sec-2 .side p {
      font-size: 16px;
      font-family: 'arial';
      line-height: 20px;
      font-weight: bold; }
      .sec-lvl-2 .for-flex-sec-2 .side p span {
        color: #bc7c0b;
        font-size: 48px;
        line-height: 20px; }

/*# sourceMappingURL=style.css.map */
